<h1>Welcome to the Customer Management Tool</h1>
<p>Click on the left pane item "Customers to find manage your customers"</p>
<br/>

<p>Instead of using all my existing code libaries and previous projects,
  i have decided that it would be a code idea to challange myself and
  do this project in the latest Tech from scratch:</p>
<ul>
  <li><strong>Visual Studio 2019</strong></li>
  <li><strong>Angular  7</strong></li>
  <li><strong>.Net Core 2.1</strong></li>
  <li>and some of the basics like bootstrap</li>
</ul>

<p>
  Altough there are many tools available today, which would have split my
  development time in half.
</p>
<p>I have done a lot of custom development, especially in
  angular. The reason is that i wanted to showcase some of my capabilities, when the
  occasion had to arrise where the right tool was not available.
</p>

<p>
  All of this was quite alot of work to do manually and build the components from scratch,
  where time forced me to avoid building more re-usable libraries and fuctions. If this project
  might grow bigger and I have more time, I will 1st do a code clean-up, refactor
  and update most of my code and packages it's best version.
  </p>
